* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  background-color: rgb(15, 23, 39);
}

html {
  font-size: 62.5%;
}

.header{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:#ced4da;
  height: 10vh;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:#ced4da;
  height: 10vh;
}


.body{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80vh;
}

.sidebar{
  width: 100%;
  float: left;
  text-align: center;
  display: block;
  background-color:#868686;
  height: 80vh;
  border: 3px solid;
  border-color: #212529;
}

 .btn  {
  margin: 0.5rem;
  padding: 0.5rem 0.8rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 8.9rem;
  text-transform: uppercase;
   letter-spacing: 0.2rem;
  color: #868686;
  cursor: pointer;
}

.font-Style_1{
  font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
    text-align: center;
    background-color: rgba(18, 18, 34, 0.945);
    font-style: bold;
    color: rgb(245, 245, 155);
}

.heading_style {
  padding: 3rem 0;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 1.5rem;
  margin-bottom: 1 rem;
  background-color: rgba(18, 18, 34, 0.945);
  font-style: bold;
  color: rgb(245, 245, 155);
}
.headingSub_style {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-style: bold;
  letter-spacing: normal;
}

.headingSub2_Style {
  font-family: "Raleway", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: normal;
}

.headingSub3_Style {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: normal;
  text-align: center;
}
.headingSub4_style {
  margin-left: 5.8rem;
  font-family: "Raleway", sans-serif;
  /* font-size: 4.5rem; */
  text-transform: uppercase;
  color: white;
  letter-spacing: 5rem;
  text-align: center;
}

.container {
   border-radius: 9.2em;
   margin: 1%;
   display: inline-block;
   align-items: center;
}

.card {
 
  word-wrap: break-word;
  padding: 1%;
 
}                           

.card-img-top {

  border-radius: 1.5rem;  
}

.card-title {
 
  color: #ffd700;
  text-align: center;
  background-color:black;
  border-width: 0.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
}
.card-text {
  color: whitesmoke;
  font-size: 1.45em;
  overflow-y: clip;
  text-align:justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
}

.card_img:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 254, 254, 0.2);
}

ul {
  display: flex;
  justify-content: right;
}
li {
  padding: 0.5rem 1.1rem;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.6rem;
  font-weight: 500;
  color: #fbfbfb;
  cursor: pointer;
  list-style-type: none;
}

a:link {
  text-decoration: none;
}
li:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 254, 254, 0.2);
}


.input-group{
  
  margin-left: 5.8rem;
  
}
.form-outline{
  font-size: 4rem;
  
  
}
.form-control me-2{
  display: block;
width: 100%;
padding: .375rem .75rem;
font-size: 10rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
appearance: none;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.fas fa-search{
  size-adjust: 50px;
}


/* .scrollMenu{
    background-color: #333;
    overflow:auto;
    white-space: nowrap;
   
} */
