* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  background-color: rgb(15, 23, 39);
}

html {
  font-size: 62.5%;
}
button {
  margin: 0.5rem;
  padding: 0.5rem 0.8rem;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  color: #868686;
  cursor: pointer;
}

.heading_style {
  padding: 3rem 0;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 1.5rem;
  margin-bottom: 1 rem;
  background-color: rgba(18, 18, 34, 0.945);
  font-style: bold;
  color: rgb(245, 245, 155);
}
.headingSub_style {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-style: bold;
  letter-spacing: normal;
}

.headingSub2_Style {
  font-family: "Raleway", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: normal;
}

.headingSub3_Style {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: normal;
  text-align: center;
}
.headingSub4_style {
  margin-left: 5.8rem;
  font-family: "Raleway", sans-serif;
  font-size: 4.5rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: normal;
  text-align: left;
}

.cards {
  width: 100%;
  height: max-content;
  margin: 1%;
  color: beige;
}

.card {
  padding: 1%;
  height: 70vh;
  width: 15.25%;
  border-radius: 1.2rem;
  float: left;
  font-size: 2rem;
  word-wrap: break-word;
  color: aqua;
}

.card_img {
  width: 100%;
  height: 40vh;
  border-radius: 1.2rem;
  border-color: azure;
  border-width: 0.8rem;
}

.card_title {
  font-size: 1.3em;
  color: #ffd700;
  background-color: rgba(18, 18, 34, 0.945);
  border-width: 0.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card_sabout {
  color: whitesmoke;
  font-size: 0.7em;
  overflow-y: clip;
}
.card_img:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 254, 254, 0.2);
}

ul {
  display: flex;
  justify-content: right;
}
li {
  padding: 0.5rem 1.1rem;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.6rem;
  font-weight: 500;
  color: #fbfbfb;
  cursor: pointer;
  list-style-type: none;
}

a:link {
  text-decoration: none;
}
li:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 254, 254, 0.2);
}
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .cards {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
 
  }
  .card {
    margin: 2%;
    height: 12vh;
    width: 42.25%;
    border-radius: 1.2rem;
    float: left;
    font-size: 1rem;
    
  }
  
  .card_title {
    font-size: 1.9em;
    color: #ffd700;
    background-color: rgba(18, 18, 34, 0.945);
    border-width: 0.8rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .card_title_atr{
    width: 20px;
    height: 20px;
}
  .card_sabout {
    color: whitesmoke;
    font-size: 1.1em;
    overflow-y: scroll;
    
  }
  .card_img {
    width: 100%;
    height: 30vh;
    border-radius: 1.2rem;
    border-color: azure;
    border-width: 0.8rem;
    }

  button {
    margin: 0.5rem;
    padding: 0.5rem 0.8rem;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    color: #868686;
    cursor: pointer;
  }
  ul {
    display: flex;
    justify-content: right;
  }
  li {
    padding: 0.5rem 1.1rem;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    color: #fbfbfb;
    cursor: pointer;
    list-style-type: none;
  }
  input {
    margin: 2%;
    padding: 0.2rem;
    color: antiquewhite;
    font-size: 0.9rem;
    height: 3.5vh;
  }
  .search_bar {
    margin-left: 1.8rem;
    border-radius: 1.5rem;
    display: flex;
    align-content: flex-end;
  }
  input::placeholder {
    font-size: 2rem;
    text-align: center;
  }
}
.search_bar {
  margin-left: 5.8rem;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
  display: flex;
  align-content: flex-end;
}
input {
  padding: 0.5rem;
  color: antiquewhite;
  font-size: 2.9rem;
}
/* .scrollMenu{
    background-color: #333;
    overflow:auto;
    white-space: nowrap;
   
} */
